
<div id="browserday" class="cjsf-day">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <p class="buy-tickets pull-right">
            <a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015" data-href="/assets/soon.jpg">
              Buy Tickets Now!
              <span class="fa fa-ticket"></span>
            </a>
          </p>

          <h1>Cascadia<span class="thin">JS</span> Browser Day</h1>
          <p class="left lead"><%- description %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3>Browser Day</h3>
            <p>If it happens in the the browser, we want to know about it. Components, the Shadow DOM, web workers, visualizations and WebRTC are all coming to the party. Plus a few special surprise guests...</p>
            <p>Our CFP has closed and selection process is currently underway. Thank you to everyone who submitted talks! We'll announce our speakers as soon as we're able to.</p>
          </div>
        </div>
      </div>
    </div>

    <% if(typeof schedule !== 'undefined') { %>
      <%- partial("../_partials/day/schedule", schedule) %>
    <% } %>

    <%- partial("../_partials/day/speakers", { "speakers":
      public.speakers._data.index.speakers.browser
    }) %>

    <% if(typeof sponsorConfig !== 'undefined') { %>
      <%- partial("../_partials/day/sponsors", sponsorConfig) %>
    <% } %>

    <% if(typeof staff !== 'undefined') { %>
      <%- partial("../_partials/day/staff", staff) %>
    <% } %>

    <%- partial('../_partials/coc') %>

  </div>
</div>
