
<div id="cssday" class="cjsf-day">
  <div id="about" class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

            <h1>Cascadia<span class="thin">CSS</span></h1>
            <p class="left lead"><%- description %></p>
            <img alt="" src="/assets/img/cssday/css-hex-icon-ver02.png" class="track-icon" />

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <% if(typeof schedule !== 'undefined') { %>
      <%- partial("../_partials/day/schedule", schedule) %>
    <% } %>

    <% if(typeof speakers !== 'undefined') { %>
      <%- partial("../_partials/day/speakers", speakers) %>
    <% } %>

    <% if(typeof sponsorConfig !== 'undefined') { %>
      <%- partial("../_partials/day/sponsors", sponsorConfig) %>
    <% }  %>

    <% if(typeof staff !== 'undefined') { %>
      <%- partial("../_partials/day/staff", staff) %>
    <% } %>

    <%- partial('../_partials/coc') %>

  </div>
</div>
