
<div id="serverday" class="cjsf-day">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <h1>Cascadia<span class="thin">JS</span> Server Day</h1>
          <p class="left"><%- description %></p>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <%
    if(typeof schedule !== 'undefined') { %>
      <%- partial("../_partials/day/schedule", schedule) %>
    <% }
    %>

    <%
    if(typeof speakers !== 'undefined') { %>
      <%- partial("../_partials/day/speakers", speakers) %>
    <% }
    %>

    <% if(typeof sponsorConfig !== 'undefined') { %>
      <%- partial("../_partials/day/sponsors", sponsorConfig) %>
    <% }  %>

    <%
    if(typeof staff !== 'undefined') { %>
      <%- partial("../_partials/day/staff", staff) %>
    <% }
    %>

  </div>
</div>