
<div id="serverday" class="cjsf-day">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Cascadia<span class="thin">JS</span> Server Day</h1>
          <p class="left lead"><%- description %></p>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row" style="padding-top: 0">
        <div class="col-xs-6" style="background: #60713e;">
          <h2><a href="/browser/" style="color: white"><i class="fa fa-arrow-left"></i> Yesterday: CascadiaJS Browser Day </a></h2>
        </div>
        <div class="col-xs-6"></div>
      </div>
    </div>
    <%- partial("_schedule") %>

    <%- partial("../_partials/day/speakers", { "speakers":
      public.speakers._data.index.speakers.server
    }) %>

    <% if(typeof sponsorConfig !== 'undefined') { %>
      <%- partial("../_partials/day/sponsors", sponsorConfig) %>
    <% }  %>

    <%
    if(typeof staff !== 'undefined') { %>
      <%- partial("../_partials/day/staff", staff) %>
    <% }
    %>

    <%- partial("_partials/connect") %>
  </div>
</div>