
<div id="serverday" class="cjsf-day">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Cascadia<span class="thin">JS</span> Server Day</h1>
          <p class="left lead"><%- description %></p>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <%- partial("_schedule") %>

    <%- partial("../_partials/day/speakers", { "speakers":
      public.speakers._data.index.speakers.server
    }) %>

    <% if(typeof sponsorConfig !== 'undefined') { %>
      <%- partial("../_partials/day/sponsors", sponsorConfig) %>
    <% }  %>

    <%
    if(typeof staff !== 'undefined') { %>
      <%- partial("../_partials/day/staff", staff) %>
    <% }
    %>

    <%- partial("_partials/connect") %>
  </div>
</div>