
<div id="serverday" class="cjsf-day">
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <p class="buy-tickets pull-right">
            <a class="btn btn-primary btn-lg" href="https://ti.to/event-loop/cjsfest-2015" data-href="/assets/soon.jpg">
              Buy Tickets Now!
              <span class="fa fa-ticket"></span>
            </a>
          </p>

          <h1>Cascadia<span class="thin">JS</span> Server Day</h1>
          <p class="left lead"><%- description %></p>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <%- partial("_schedule") %>

    <%- partial("../_partials/day/speakers", { "speakers":
      public.speakers._data.index.speakers.server
    }) %>

    <% if(typeof sponsorConfig !== 'undefined') { %>
      <%- partial("../_partials/day/sponsors", sponsorConfig) %>
    <% }  %>

    <%
    if(typeof staff !== 'undefined') { %>
      <%- partial("../_partials/day/staff", staff) %>
    <% }
    %>

  </div>
</div>