<% if(logo) { %>
<div class="sponsor col-sm-6 col-md-4">
  <a href="<%= url %>" class="logo">
    <img src="<%= logo %>" alt="<%= name %> logo"/>
  </a>
  <h4 class="name"><a href="<%= url %>"><%= name %></a></h4>
  <p class="description"><%= description %></p>
</div>
<% } %>