
<div class="clearfix poloroid speaker <%- typeof classname != 'undefined' ? classname : '' %>">
  <div class="inner">
    <% if(typeof avatar !== "undefined") { %>
      <img alt="" src="" data-src="<%- avatar %>" class="profile-image" />
    <% } %>

    <h4><%- name %></h4>
    <% if(typeof talk !== "undefined") { %>
    <p>
      <% if(talk.url) { %>
      <a href="<%- talk.url %>">
      <% } %>

        <%- talk.title %>

      <% if(talk.url) { %>
      </a>
      <% } %>

      <% if(talk.transcript) { %>
        <br>
        <a href="<%- talk.transcript %>">Transcript</a>
      <% } %>
    </p>
    <% } %>
  </div>
</div>
